<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TbCityManager">
	<select id="getTbCity" parameterType="java.lang.Integer"
		resultType="TbCity">
		select id,fdcode,fdname,fdparentCode from tb_city where fdstatus=1 and
		id=#{id}
	</select>
	<select id="getRoot" parameterType="pd" resultType="pd">
		select id,fdcode,fdname,fdparentCode from tb_city where fdstatus=1 and
		fdname='中国' and fdparentCode='000000'
	</select>

	<select id="getBeijing" parameterType="pd" resultType="pd">
		select id,fdcode,fdname,fdparentCode from tb_city where fdstatus=1 and
		fdname='北京市' and fdparentCode=#{fdparentCode}
	</select>
	<select id="listAll" parameterType="pd" resultType="pd">
		select id,fdcode,fdname,fdparentCode from tb_city where fdstatus=1 and
		fdparentCode=#{fdparentCode}
	</select>
	<select id="listFdparentCode" parameterType="pd" resultType="pd">
		select id,fdcode,fdname,fdparentCode from tb_city where fdstatus=1 and
		fdparentCode=#{fdparentCode}
	</select>
	<select id="compReg" parameterType="pd" resultType="pd">
		select
		id,name,phone,gsid,gsname,pass,xmname,mpimg2,mpimg,status2,card,typeid,openid
		from qd_user where isdelete=0 and phone=#{phone} order by id
	</select>
	<select id="getId" parameterType="pd" resultType="pd">
		select
		id,name,phone,gsid,gsname,pass,xmname,mpimg2,mpimg,status2,card,typeid
		from qd_user where isdelete=0 and id=#{id}
	</select>
	<insert id="save" parameterType="pd">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into qd_user
		(
		isdelete,
		phone,
		pass,
		status2,
		status,
		ctime
		) values (
		0,
		#{phone},
		#{pass},
		0,
		2,
		NOW()
		)
	</insert>
	<update id="updatePass" parameterType="pd">
		update qd_user set pass=#{pass},gtime=NOW() where id=#{id}

	</update>
	<select id="getUserPic" parameterType="pd" resultType="pd">
		select ID as id,URL as url,TYPE as type,ISDELETE as isdelete from base_pic
		where ISDELETE=0 and TYPE=#{TYPE} and RECORDID=#{RECORDID}
	</select>
	<select id="getPass" parameterType="pd" resultType="pd">
		select
		id,name,phone,gsid,gsname,pass,xmname,mpimg2,mpimg,status2,card,typeid
		from qd_user where
		isdelete=0 and phone=#{phone} and pass=#{pass}
	</select>
	<select id="getUserFyid" parameterType="pd" resultType="pd">
		select id,ctime from qd_collecthouse where
		isdelete=0 and uid=#{redis} and hid=#{fyid}
	</select>
	<insert id="saveCollect" parameterType="pd">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into qd_collecthouse(
		isdelete,
		uid,
		hid,
		ctime
		) values (
		0,
		#{redis},
		#{fyid},
		NOW()
		)
	</insert>
	<update id="updateCollecHouse" parameterType="String">
		update qd_collecthouse set isdelete=1,gtime=NOW() where id in
		<foreach item="item" index="index" collection="array" open="("
			separator="," close=")">
			#{item}
		</foreach>

	</update>
	<update id="updatePhone" parameterType="pd">
		update qd_user set phone=#{phone},gtime=NOW() where id=#{id}

	</update>
	<select id="getButler" parameterType="pd" resultType="pd">
		select lpid from qd_user_contract where isdelete=0 and userid=#{userid}
		order by id desc
	</select>
	<select id="getButler2" parameterType="pd" resultType="pd">
		select pic, name,phone,empyear,introduction,category from app_houseperson
		where isdelete=0 and category=#{category} and lpid=#{lpid} order by id
		desc
	</select>
	<select id="getBuildId" parameterType="pd" resultType="pd">
		select lpid from yh_zdfyxx where isdelete=0 and id=#{fyid}
	</select>
	<select id="getBuildOwner" parameterType="pd" resultType="pd">
		select phone,name from app_houseperson
		where isdelete=0 and category=2 and lpid=#{lpid} order by id
		asc
	</select>
	
	<select id="getService" parameterType="pd" resultType="pd">
		select phone,name from base_personnel
		where ISDELETE=0 and rzstatus=0 and CompanyID=14 and DepartmentID=179 order by id
		asc
	</select>
	
	
	
	
	
	<!-- 授权绑定openid -->
	<update id="updateOpenid" parameterType="pd">
	   update qd_user set openid=#{openid},gtime=NOW() where phone=#{phone} and isdelete=0
	</update>

	<!-- 查询是否授权绑定openid -->
	<select id="getOpenid" parameterType="pd" resultType="pd">
	  select id,name,phone,gsid,gsname,pass,xmname,mpimg2,mpimg,status2,card,openid from qd_user  where openid=#{openid} and isdelete=0
	</select>
	
	<insert id="saveOpenid" parameterType="pd">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
	      SELECT LAST_INSERT_ID()
	    </selectKey>
			insert into qd_user
			(
				isdelete,phone,	pass,openid,status2,status,ctime	
			) values (
				0,#{phone},	#{pass},#{openid},0,2,NOW()
			)
	</insert>
	<!-- 查询客服手机号-->
	<select id="getListPhone"  resultType="pd" >
		select phone from app_customerservice  order BY ordernum asc
	</select>
	<!-- 保存房源浏览记录 -->
	<insert id="saveBrowseRecords" parameterType="pd">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into qd_browserecords(isdelete,uid,hid,ctime,gtime) values (0,#{redis},#{fyid},NOW(),NOW())
	</insert>
	<delete id="deleteBrowseRecords" parameterType="pd">
	   delete from qd_browserecords where id in
		<foreach item="item" index="index" collection="array" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</delete>
	<!-- 查询房源浏览记录-->
	<select id="getEnterBrowseRecords"  parameterType="pd" resultType="pd" >
		select id,uid,hid from qd_browserecords where uid=#{redis} and hid=#{fyid} and ctime=#{createTime}
	</select>
	<!-- 更新app房源浏览记录 时间-->
	<update id="updateBrowseRecords" parameterType="pd">
	   update qd_browserecords set gtime=NOW() where id=#{id}
	</update>

</mapper>