<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TbCityManager">
    <select id="getTbCity"  parameterType="java.lang.Integer" resultType="TbCity">
    select id,fdcode,fdname,fdparentCode from tb_city  where fdstatus=1 and id=#{id}
    </select>
	<select id="getRoot" parameterType="pd" resultType="pd">
	select  id,fdcode,fdname,fdparentCode from tb_city  where fdstatus=1 and fdname='中国' and fdparentCode='000000'
	</select>
	
	<select id="getBeijing" parameterType="pd" resultType="pd">
	select  id,fdcode,fdname,fdparentCode from tb_city  where fdstatus=1 and fdname='北京市' and fdparentCode=#{fdparentCode}
	</select>
	<select id="listAll" parameterType="pd" resultType="pd">
	select  id,fdcode,fdname,fdparentCode from tb_city  where fdstatus=1 and fdparentCode=#{fdparentCode}
	</select>
	<select id="listFdparentCode" parameterType="pd" resultType="pd">
	select  id,fdcode,fdname,fdparentCode from tb_city  where fdstatus=1 and fdparentCode=#{fdparentCode}
	</select>
	<select id="compReg" parameterType="pd" resultType="pd">
	select id,name,phone,gsid,gsname,pass,xmname,mpimg2,mpimg,status2,card from qd_user  where isdelete=0 and phone=#{phone}  order by id
	</select>
	<select id="getId" parameterType="pd" resultType="pd">
	select id,name,phone,gsid,gsname,pass,xmname,mpimg2,mpimg,status2,card from qd_user  where isdelete=0 and id=#{id}
	</select>
	<insert id="save" parameterType="pd">
	<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
		insert into qd_user
		(
			isdelete,	
			phone,	
			pass,	
			status2,
			status,
			ctime	
		) values (
			0,	
			#{phone},	
			#{pass},	
			0,
			3,
			NOW()
		)
	</insert>
	<update id="updatePass" parameterType="pd">
	update qd_user set pass=#{pass},gtime=NOW() where id=#{id}
	
	</update>
	<select id="getUserPic" parameterType="pd" resultType="pd">
	select ID,URL,TYPE,ISDELETE from base_pic where ISDELETE=0 and TYPE=#{TYPE} and RECORDID=#{RECORDID}
	</select>
	<select id="getPass" parameterType="pd" resultType="pd">
	select id,name,phone,gsid,gsname,pass,xmname,mpimg2,mpimg,status2,card from qd_user  where 
	isdelete=0 and phone=#{phone} and pass=#{pass}
	</select>
	<select id="getUserFyid" parameterType="pd" resultType="pd">
	select id,ctime from qd_collecthouse  where 
	isdelete=0 and uid=#{redis} and hid=#{fyid}
	</select>
	<insert id="saveCollect" parameterType="pd">
	<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
		insert into qd_collecthouse(
			isdelete,	
			uid,	
			hid,	
			ctime	
		) values (
			0,	
			#{redis},	
			#{fyid},	
			NOW()
		)
	</insert>
	<update id="updateCollecHouse" parameterType="String">
	update qd_collecthouse set isdelete=1,gtime=NOW() where id in
  			 <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                  #{item}
             </foreach>
	
	</update>
	<update id="updatePhone" parameterType="pd">
	update qd_user set phone=#{phone},gtime=NOW() where id=#{id}
	
	</update>
	
</mapper>