<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="InterfaceDataMapper">

	<!-- 新增售后服务信息-->
	<insert id="saveCustomer" useGeneratedKeys="true" keyProperty="id" parameterType="pd" >
		insert into app_transaction(
			name,	
			sex,	
			phone,	
			repairHouse,	
			memo,	
			oddNumbers,
			bussinessType,
			status,
			createTime,
			uid
		) values (
			#{name},	
			#{sex},	
			#{phone},	
			#{repairHouse},	
			#{memo},	
			#{oddNumbers},
			#{bussinessType},	
			#{status},
			#{createTime},
			#{uid}
		)
	</insert>
	
	<!-- 新增业主委托信息-->
	<insert id="saveOwnerEntrust" parameterType="pd">
		insert into app_transaction(
			bussinessType,
			name,  
		    repairHouse,  
		    memo,  
			phone,	
			oddNumbers,
			status,
			createTime
		) values (
			#{bussinessType},	
			#{name},
		    #{repairHouse},  
		    #{memo}, 
			#{phone},	
			#{oddNumbers},
			#{status},
			#{createTime}
		)
	</insert>
	
	<!-- 新增商城服务信息-->
	<insert id="saveMallService" parameterType="pd">
		insert into app_transaction(
		    bussinessType,
			name,	
			phone,	
			type,
			memo,
			oddNumbers,
			createTime,
			status
		) values (
		    #{bussinessType},	
			#{name},	
			#{phone},	
			#{type},	
			#{memo},
			#{oddNumbers},	
			#{createTime},
			#{status}
		)
	</insert>
	
	<!-- 新增管家服务信息（设备报修 BX、物业对接 WY、房屋凭证 PZ、房屋费用 FY、房屋变更 BG）-->
	<insert id="saveButlerInfo" parameterType="pd">
		insert into app_transaction(
		    bussinessType,
			name,	
			phone,	
			type,
			repairHouse,
			memo,
			pic,
			category,
			oddNumbers,
			createTime,
			uid,
			status
		) values (
		    #{bussinessType},	
			#{name},	
			#{phone},	
			#{type},
			#{repairHouse},	
			#{memo},
			#{pic},
			#{category},
			#{oddNumbers},	
			#{createTime},
			#{uid},
			#{status}
		)
	</insert>
	
	<!-- 房屋变更（续租、换房、退房）-->
	<insert id="saveHousingChange" parameterType="pd">
		insert into app_transaction(
		    bussinessType,
			name,	
			phone,	
			memo,
			repairHouse,
			renewalYears,
			changArea,
			changeLouPan,
			changeMJ,
			changeZuJin,
			changeTime,
			isZhuce,
			type,
			category,
			oddNumbers,
			createTime,
			uid,
			status
		) values (
		    #{bussinessType},	
			#{name},	
			#{phone},
			#{memo},
			#{repairHouse},
			#{renewalYears},
			#{changArea},
			#{changeLouPan},
			#{changeMJ},
			#{changeZuJin},
			#{changeTime},
			#{isZhuce},
			#{type},
			#{category},
			#{oddNumbers},	
			#{createTime},
			#{uid},
			#{status}
		)
	</insert>
	
	<!-- 获取会员企业列表 -->
	<select id="listMemberEnterprise"  parameterType="pd" resultType="pd" >
		select 
			id,
			enterpriseName,
			ranges as enterpriseDesc,
			logoImg,
			category
		from app_member_enterprise
		where 
			status =1 and istop=1  limit 5
	</select>
	
	<!-- 获取更多全部会员企业 -->
	<select id="listMemberEnterpriseInfo"  parameterType="pd" resultType="pd" >
		select 
			id,
			enterpriseName,
			ranges,
			logoImg,
			industry,
			location,
			category
		from app_member_enterprise
		where 
			status =1 and istop=1 
			<if test="industry==2">
				AND LIKE CONCAT(CONCAT('%', #{pd.industry}),'%')
			</if>
			<if test="location==1">
	            AND LIKE CONCAT(CONCAT('%', #{pd.location}),'%')
			</if>
		    order by  createTime desc
	</select>
	<!-- 获取会员企业详情信息 -->
	<select id="getEnterMemberEnterprise"  parameterType="pd" resultType="pd" >
		select 
			id,
			enterpriseName,
			logoImg,
			enterpriseDesc,
			industry,
			location,
			logoImg,
			phone,
			address,
			category
		from app_member_enterprise
		where 
			status =1 and istop=1 and id=#{id}
	</select>
	<!-- 加入会员 -->
	<insert id="saveMembership" useGeneratedKeys="true" keyProperty="id" parameterType="pd">
		insert into app_member_enterprise(
			name,	
			phone,	
			type,
			enterpriseName,
			enterpriseDesc,
			logoImg,
			house,
			industry,
			location,
			ranges,
			enterpriseWebsite,
			enterprisePhone,
			category,
			createTime,
			createBy,
			status
		) values (
		    #{name},	
			#{phone},	
			#{type},
			#{enterpriseName},
			#{enterpriseDesc},
			#{logoImg},
			#{house},
			#{industry},
			#{location},
			#{ranges},
			#{enterpriseWebsite},
			#{enterprisePhone},
			#{category},
			#{createTime},
			#{uid},
			#{status}
		)
	</insert>
	
	<!-- 保存会员企业logo图片信息 -->
	<insert id="saveEnterprisePic" parameterType="pd">
		insert into base_pic(
			URL,	
			RECORDID,	
			TYPE,
			ISDELETE
		) values (
		    #{url},	
			#{recordId},	
			#{type},
			#{isDelete}
		)
	</insert>
	
	
	<!-- 发布服务、发布需求 -->
	<insert id="saveReleaseDemand" parameterType="pd">
		insert into app_enterprise_demand(
		    demandCategory,
		    demandType,
			enterName,	
			enterPhone,	
			type,
			demandDesc,
			enterpriseName,
			enterpriseDesc,
			house,
			imgUrl,
			effectiveTime,
			budget,
			createTime,
			createBy,
			status
		) values (
			#{demandCategory},
		    #{demandType},
			#{enterName},	
			#{enterPhone},	
			#{type},
			#{demandDesc},
			#{enterpriseName},
			#{enterpriseDesc},
			#{house},
			#{imgUrl},
			#{effectiveTime},
			#{budget},
			#{createTime},
			#{uid},
			#{status}
		)
	</insert>
	
	<!-- 获取企业需求列表 -->
	<select id="listEnterpriseDemand"  parameterType="pd" resultType="pd" >
		select 
			id,
			demandType,
			demandDesc,
			createTime,
			status,
			butlerName,
			butlerPhone,
			budget,
			imgUrl
		from app_enterprise_demand
		where 
		<if test="demandCategory==2">
			 demandCategory=#{demandCategory}  order by status asc, createTime desc limit 5;
		</if>
		<if test="demandCategory==1">
		    status =1
            and demandCategory=#{demandCategory} order by  createTime desc limit 3;
		</if>
	</select>
	
	<!-- 获取幼师头条信息 -->
	<select id="listTopNews"  parameterType="pd" resultType="pd" >
		select 
			id,
			title,
			url,
			content,
			orderid,
			status
		from app_topnews
		where 
			status=1 order BY orderid desc limit 3;
	</select>
	
	<!-- 获取幼师头条详情信息 -->
	<select id="topNewsInfo"  parameterType="pd" resultType="pd" >
		select 
			id,
			title,
			url,
			content,
			orderid,
			status,
			createTime
		from app_topnews
		where 
		   id=#{id} and status =1  
		   order BY orderid desc limit 3;
	</select>
	
	<!-- 获取app版本信息 -->
	<select id="appVersionInfo"  parameterType="pd" resultType="pd" >
		select 
			id,
			versionType,
			versionCode,
			appFileUrl,
			versionDesc,
			versionTime,
			shopType,
			status
		from app_version
		where versionType=#{appType} 
		<if test="versionCode !=null and versionCode !='' ">
		   and versionCode=#{appVersion}
		</if>
	</select>
	 
	<!-- 根据type获取最新数据列表 -->
	<select id="getLatestData"  parameterType="Integer" resultType="pd" >
		select 
		orderNum,
		memo as name,
		`value`,
		widthNum
		from app_latest_data 
		where 
		type=#{type} 
		and `status`=1 
		ORDER BY orderNum 
	</select>
	<!-- 跟根据合同总面积计算公司规模统计 -->
	<select id="getEnterpriseScaleData"  parameterType="Integer" resultType="pd" >
	select name,value,widthNum from v_hetongqiyeguimo
	</select>
	
	<!-- 获取当前登陆用户的房源及公司信息 -->
	<select id="getHouseCompanyById"  parameterType="String" resultType="pd" >
     select addr,lpname,zdname,fyname,companyname from qd_user_contract where userid=#{id}  and isdelete=0 and stateid=1
	</select>
	
	<!-- 获取当前登陆用户的通知列表 -->
	<select id="getMessageByUserId"  parameterType="pd" resultType="pd" >
    select * from v_message
    where uid=#{id} 
    ORDER BY createTime DESC
    <if test="page !=null and page !='' ">
		 LIMIT #{pagestart},#{pageend}
	</if> 
	</select>
</mapper>